.select2-results__options {
    margin: 0 !important;
    padding: 0 !important;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 100px !important;
    overflow-y: auto !important;
}
mat-form-field{
    @media only screen and (min-width : 320px) and (max-width : 480px) {
        width: 100%;
        } 
    @media only screen and (min-width : 481px) and (max-width : 767px) {
            width: 100%;
        }
        
}

.vs-vehicle-form_select {
    @media (min-width: 768px) and (max-width : 1024px) {
        width: 30% !important;
    }
    @media only screen and (min-width : 320px) and (max-width : 480px) {
        width: 100%;
    }
    @media only screen and (min-width : 481px) and (max-width : 767px) {
        width: 45% !important;
        float: left;
        margin: 0 12px;
    }


}
